

body{
    background-color: #ebeff5;
}

H5 { text-align: center }

#total-orders{
    background-color: #4cb4c7;
}


#orders-delivered{
    background-color: #7abecc;
}

#orders-pending{
    background-color: #c9d17c;
}

#orders-cancelado{
    background-color: #d17c7c;
}