{% extends 'accounts/main.html' %}

{% block content %}

{% include 'accounts/status.html' %}

<br>

<div class="row">
	<div class="col-md-5">
		<h5>INTERESSADOS:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Adicionar Interessado</a>
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Interessado</th>
					<th>Processos</th>
				</tr>

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>ÚLTIMOS 5 PROCESSOS</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Criar Processo</a>
			<table class="table table-sm">
				<tr>
					<th>Setor</th>
					<th>Data de criação</th>
					<th>Status</th>
					<th>Ver</th>
					<th>Remover</th>
				</tr>
		
			</table>
		</div>
	</div>

</div>

{% endblock %}

