{% extends 'accounts/main.html' %}

{% block content %}
<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Interessados</h5>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <div class="card card-body">

                    <form method="get">
                        {{myFilter.form}}

                        <button class="btn btn-primary" type="submit">Search</button>
                    </form>

                </div>
            </div>

        </div>
        <br>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Nome Completo</th>
                    <th>CPF/CNPJ</th>
                    <th>E-mail</th>
                    <th>Telefone</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for i in lista %}
                <tr>
                    <td>{{i.nome}}</td>
                    <td>{{i.cpf}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.telefone}}</td>
                    <td><a class="btn btn-sm btn-warning" href="{% url 'editar_interessado' i.id %}">Editar</a></td>
                    <td><a class="btn btn-sm btn-danger" href="{% url 'deletar_interessado' i.id %}">Remover</a></td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>

{% endblock %}