{% extends 'accounts/main.html' %}

{% block content %}
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Interessado:</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'editar_interessado' interessado.id %}">Editar Interessado</a>
			<a class="btn btn-outline-danger  btn-sm btn-block" href="{% url 'deletar_interessado' interessado.id %}">Deletar Interessado</a>


		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Informações do Interessado</h5>
			<hr>
			<p>Nome: {{interessado.nome}}</p>
			<p>CPF/CNPJ: {{interessado.cpf}}</p>
			<p>Email: {{interessado.email}}</p>
			<p>Telefone: {{interessado.telefone}}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total Processos</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{processosCount}}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">

				<button class="btn btn-primary" type="submit">Buscar</button>
			</form>
		</div>
	</div>

</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Número</th>
					<th>Municipio</th>
					<th>Data de Criação</th>
					<th>Status</th>
					<th>Ver</th>
					<th>Remover</th>
				</tr>
				{% for i in processos%}
				<tr>
					<td>{{i.numeroProcesso}}</td>
					<td>{{i.terra}}</td>
					<td>{{i.dataProcesso}}</td>
					<td>{{i.status}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'ver_processo' i.id %}">Ver</a></td>
					<td><a class="btn btn-sm btn-danger" href="{% url 'deletar_processo' i.id %}">Remover</a></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}