{% extends 'accounts/main.html' %}

{% block content %}
<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Setores</h5>
            <a class="btn btn-primary  btn-sm btn-block" href="{% url 'criar_setor' %}">Adicionar Setor</a>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Nome</th>
                    <th>Sigla</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for i in lista %}
                <tr>
                    <td>{{i.nome}}</td>
                    <td>{{i.sigla}}</td>
                    <td><a class="btn btn-sm btn-warning" href="{% url 'ver_setor' i.id %}">Editar</a></td>
                    <td><a class="btn btn-sm btn-danger" href="{% url 'deletar_setor' i.id %}">Remover</a></td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>

{% endblock %}