{% extends 'accounts/main.html' %}

{% block content %}
<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Terras</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Município</th>
                    <th>Loteamento</th>
                    <th>Número</th>
                    <th>Área Total</th>
                    <th>Valor</th>
                    <th>Editar</th>
                    <th>Remover</th>
                </tr>
                {% for i in lista %}
                <tr>
                    <td>{{i.municipio}}</td>
                    <td>{{i.loteamento}}</td>
                    <td>{{i.numero}}</td>
                    <td>{{i.area}}</td>
                    <td>{{i.valor}}</td> 
                    <td><a class="btn btn-sm btn-warning" href="{% url 'ver_terra' i.id %}">Editar</a></td>
					<td><a class="btn btn-sm btn-danger"href="{% url 'deletar_processo' i.id %}">Remover</a></td>
                </tr>
                {% endfor %}
                
            </table>
        </div>
    </div>
</div>

{% endblock %}