{% extends 'accounts/main.html' %}

{% block content %}
<br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Terras</h5>
        </div>
        <div class="card card-body">
            <table class="table">
                <tr>
                    <th>Município</th>
                    <th>Área Total</th>
                    <th>Valor</th>
                </tr>
                
            </table>
        </div>
    </div>
    
</div>

{% endblock %}